.blurred {
  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

#title {
    height: 75px;
    color: white;
}

h1 {
    font-family: optima;
    color: white;
    padding-left: 15px;
}
h1.mobile {
    font-size: 4.5em;
}
h1.desktop {
    font-size: 3.2em;
}

p {
    color: white;
    padding-left: 20px;
    font-family: optima;
}

p.mobile {
    font-size: 1.8em;
}
p.desktop {
    font-size: 1.2em;
}

body {
  background-color: black;
}

path {
  stroke: black;
  stroke-width: 0.25px;
  fill: grey;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#states {
  fill: #aaa;
  fill-opacity:0.3;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: .25px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.normal {
    fill: white;
    font-size: 18;
}
.clicked {
    fill: blue;
    font-size: 25;
}

hr {
    height: 1px;
    border: 0;
    background: grey;
}
